[class^="topclass-"],
[class*="topclass-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/t.jpg");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}


.topclass-a-1 {
	background-position: -188px -85px;
}
.topclass-a-2 {
	background-position: -188px -85px;
}
.topclass-a-3 {
	background-position: -188px -85px;
}
.topclass-a-4 {
	background-position: -188px -85px;
}
.topclass-a-5 {
	background-position: -188px -85px;
}

.topclass-b-1 {
	background-position: -188px -85px;
}
.topclass-b-2 {
	background-position: -188px -85px;
}
.topclass-b-3 {
	background-position: -188px -85px;
}
.topclass-b-4 {
	background-position: -188px -85px;
}
.topclass-b-5 {
	background-position: -188px -85px;
}


.topclass-c-1 {
	background-position: -188px -85px;
}
.topclass-c-2 {
	background-position: -188px -85px;
}
.topclass-c-3 {
	background-position: -188px -85px;
}
.topclass-c-4 {
	background-position: -188px -85px;
}
.topclass-c-5 {
	background-position: -188px -85px;
}

.topclass-d-1 {
	background-position: -188px -85px;
}
.topclass-d-2 {
	background-position: -188px -85px;
}
.topclass-d-3 {
	background-position: -188px -85px;
}
.topclass-d-4 {
	background-position: -188px -85px;
}
.topclass-d-5 {
	background-position: -188px -85px;
}